* {
  box-sizing: border-box;
  font-size: 18px;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

main {
  justify-content: center;
  align-items: center;
  min-height: 95vh;
  margin: 0 auto;
}

.todo-list {
  box-shadow: rgba(0, 0, 0, 0.18) 0 2px 8px 0;
  width: 500px;
  max-width: 100%;
}

form button .material-icons {
  font-size: 15px;
}

.todo-list .material-icons {
  transition: 0.6s;
  color: #9797a5;
  cursor: pointer;
}

.header .material-icons {
  font-size: 20px;
}

.todo-list .material-icons:hover {
  color: #333;
}

.todo-list .material-icons.move {
  cursor: move;
}

.header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  width: 100%;
}

.header,
form,
ul {
  background: #fff;
  margin: 0;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.header,
h2 {
  align-items: center;
  color: #545862;
  font-size: 18px;
  font-weight: 400;
  padding: 1rem;
  line-height: 20px;
  margin: 0;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

form input {
  width: 100%;
  border: 0 solid transparent;
  outline: none;
  font-style: italic;
  line-height: 40px;
  height: 40px;
  font-size: 15px;
}

form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  width: 100%;
  padding: 10px 10px 10px 30px;
}

form button {
  background: #fff;
  border: 0 solid transparent;
}

.list-item {
  display: flex;
  padding: 10px 10px 10px 30px;
  font-size: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-weight: 300;
  align-items: center;
  justify-content: space-between;
}

.list-item a {
  align-self: flex-end;
}

.list-item p {
  width: 100%;
  border: 0 solid transparent;
  outline: none;
  height: 22px;
  line-height: 22px;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  font-weight: 300;
  font-size: 15px;
  overflow-y: auto;
  background: #fff;
}

.list-item .material-icons.done {
  color: rgb(10, 117, 224);
}

.list-item p.completed {
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.45);
}

.clear-completed {
  width: 100%;
  text-align: center;
  padding: 20px 6px;
  justify-content: center;
  background-color: #fdfdfd6e;
  color: #50505a;
  font-size: 16px;
}

.clear-completed:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #5f5f61;
}

.d-flex {
  display: flex;
}

.cols {
  flex-direction: column;
}

.s-between {
  justify-content: space-between;
}

.more_vert {
  align-self: flex-end;
}

.m-left {
  margin-left: 20px;
  font-size: 16px;
  color: #626366;
}

.add-task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
